
<footer>
  <nav fxLayout="row" fxLayoutAlign="center" aria-label="Paternaires">
    <p>Partenaires</p>
    <a target="_blank"  href="https://www.afaup.org/">AFAUP</a>
    <a target="_blank"  href="https://www.lespetitsdebrouillards.org">Les petits débrouillards</a>
    <a target="_blank"  href="http://www.agroparistech.fr">AgroParis Tech</a>
    <a target="_blank"  href="https://www.regiedequartier.org/chantiers">Si t'es jardin</a>
    <a target="_blank"  href="https://emmaus-france.org/">Emmaüs France</a>
    <a target="_blank"  href="http://www.virtual-assembly.org">Assemblée virtuelle</a>
  </nav>
  <nav fxLayout="row" fxLayoutAlign="center" aria-label="Accès direct">
    <p>Accès direct</p>
    <a [routerLink]="['/map']">Carte de 100 Lieux</a>
    <a [routerLink]="['/tools']">Galerie pédagogique</a>
    <a [routerLink]="['/partners']">Partenaires</a>
    <a href="">Nous contacter</a>
  </nav>
</footer>
