<mat-divider></mat-divider>
<footer>
  <h4>Partenaires</h4>
  <nav fxLayout="row" fxLayoutAlign="flex-start" aria-label="Paternaires">
    <a href="">AFAUP</a>
    <a href="">Les petits débrouillards</a>
    <a href="">AgroParis Tech</a>
    <a href="">Si t'es jardin</a>
    <a href="">Emmaeus France</a>
    <a href="">Assemblée virtuelle</a>
    <a href="">France Relance</a>
  </nav>
  <h4>Accés directs</h4>
  <nav fxLayout="row" fxLayoutAlign="flex-start" aria-label="Acces direct">
    <a href="">Carte de 100 Lieux</a>
    <a href="">Galerie pédagogique</a>
    <a href="">Partenaires</a>
    <a href="">Mentions légales</a>
    <a href="">Nous contacter</a>
  </nav>
</footer>
