<h1>Mentions légales 100 lieux nourriciers</h1>
<p>Conformément aux dispositions des Articles 6-III et 19 de la Loi n°2004-575 du 21 juin 2004 pour la Confiance dans l’économie numérique, dite L.C.E.N., il est porté à la connaissance des Utilisateurs du site <a href="https://100lieuxnourriciers.fr/">https://100lieuxnourriciers.fr/</a> les présentes mentions légales.</p>
<h3>Propriétaire</h3>
<p>Association Française de L’Agriculture Urbaine Professionnelle (AFAUP)<br>
CAUBEYRE 32330 LAGRAULET-DU-GERS <br>
Courriel : contact@afaup.org <br>
</p>

<h3>Directeur de la publication</h3>
Maire Fiers, Romain Guitet<br>
CAUBEYRE 32330 LAGRAULET-DU-GERS<br>
Courriel : contact@afaup.org<br>

<h3>Crédits</h3>
<p>Conception et Design : Vincent Elmalih - <a href="https://www.vincentelmalih.com/">https://www.vincentelmalih.com/</a> pour <a href="http://www.virtual-assembly.org/">l’Assemblée Virtuelle</a></p>
<p>Développement/Intégration : Thomas Lhomme pour <a href="https://data-players.com/">Data-Players</a></p>
<p>Coordination de projet : Romain Guitet, Pierre Bouvier-Muller pour <a href="http://www.virtual-assembly.org/">l’Assemblée Virtuelle</a></p>

<p>Le site est une instance de SemApps, un logiciel libre pour favoriser l’intéropérabilité des systèmes d’information développer par la communauté de <a href="http://www.virtual-assembly.org/">l’Assemblée Virtuelle</a>.
Le code source du site web est open source et hébergé sur Github</p>

<p>Ce site soutient le projets des 100 lieux nourriciers porté par l’<a target="_blank"  href="https://www.afaup.org/">AFAUP</a>, en partenariat avec <a target="_blank"  href="https://www.lespetitsdebrouillards.org">Les petits débrouillards</a>,

  <a target="_blank"  href="http://www.agroparistech.fr">AgroParis Tech</a>,
  <a target="_blank"  href="https://www.regiedequartier.org/chantiers">Si t'es jardin</a>,
  <a target="_blank"  href="https://emmaus-france.org/">Emmaüs France</a>,
  <a target="_blank"  href="http://www.virtual-assembly.org">Assemblée virtuelle</a>

<p>Par respect pour votre vie privée, ce site ne contient aucun traqueur de quelque nature que ce soit. Vous pouvez l’utiliser sans aucun changement avec des bloqueurs de publicités.</p>
<h3>Conditions d’utilisation</h3>

<p>Le site, accessible par l’url suivante : https://100lieuxnourriciers.fr/ , est exploité dans le respect de la législation française. L’utilisation de ce site est régie par les présentes conditions générales. En utilisant le site, vous reconnaissez avoir pris connaissance de ces conditions et les avoir acceptées. Celles-ci pourront être modifiées à tout moment et sans préavis par l’AFAUP, qui ne saurait être tenu pour responsable en aucune manière d’une mauvaise utilisation du service.</p>
<h3>Limitation de responsabilité </h3>

<p>Les informations contenues sur ce site sont aussi précises que possibles et le site est périodiquement remis à jour, mais peut toutefois contenir des inexactitudes, des omissions ou des lacunes. Si vous constatez une lacune, erreur ou ce qui paraît être un dysfonctionnement, merci de bien vouloir le signaler par courriel en décrivant le problème de la manière la plus précise possible (page posant problème, action déclenchante, type d’ordinateur et de navigateur utilisé, …).</p>

<p>Tout contenu téléchargé se fait aux risques et périls de l’utilisateur et sous sa seule responsabilité. En conséquence, l’AFAUP ne saurait être tenu responsable d’un quelconque dommage subi par l’ordinateur de l’utilisateur ou d’une quelconque perte de données consécutives au téléchargement.</p>

<p>Les liens hypertextes mis en place dans le cadre du présent site internet en direction d’autres ressources présentes sur le réseau Internet ne sauraient engager la responsabilité de l’AFAUP.</p>
<h3>Litiges</h3>

<p>Les présentes conditions sont régies par les lois françaises et toute contestation ou tout litige qui pourrait naître de l’interprétation ou de l’exécution de celles-ci seront de la compétence exclusive des tribunaux dont dépend l’AFAUP’. La langue de référence, pour le règlement de contentieux éventuels, est le français.</p>
<h3>Droit d’accès et confidentialité</h3>

<p>Les internautes disposent d’un droit d’accès, de rectification, de modification et de suppression concernant les données qui les concernent personnellement. Ce droit peut être exercé par voie postale auprès de l’AFAUP ou par voie électronique. Les informations personnelles collectées ne sont en aucun cas confiées à des tiers.</p>

<p>Les données transmises par les formulaires de contacts, de demande de projet ou de candidature ne sont pas stockées sur le site.</p>

<p>Les adresses emails transmises via le formulaire d’inscription aux newsletters sont utilisées pour vous envoyer les newsletters demandées. Ces adresses emails sont conservées tant que la personne concernée ne se désinscrit pas via le lien de désinscription intégré aux newsletters.</p>
<h3>Connexion</h3>

<p>L’inscription et la connexion au site web est réservé aux administrateurs pour valider le contenu soumis par la communauté. L’inscription se fait par l’intermédiaire du protocole OIDC hébergé à l’url : https://login.lescommuns.org/auth/.</p>
<h3>Propriété intellectuelle</h3>

<p>Sauf mention contraire, les contenus du site sont soumis à la licences copyleft BY-NC-SA 4.0.</p>

<p>Les utilisateurs du site peuvent proposer des contenus à afficher sur la cartographie ou dans l’espace ressource. Les utilisateurs doivent vérifier la licence de ces contenus avant de soumettre le formulaire d’ajout. Le contenu proposé est vérifier par une équipe de modérateur avant d’être mis en ligne publiquement.</p>

<p>Les utilisateurs et visiteurs du site internet peuvent mettre en place un hyperlien en direction de ce site, mais uniquement en direction de la page d’accueil, accessible à l’URL suivante : https://100lieuxnourriciers.fr/ , à condition que ce lien s’ouvre dans une nouvelle fenêtre. En particulier un lien vers une sous page (« lien profond ») est interdit, ainsi que l’ouverture du présent site au sein d’un cadre (« framing »), sauf l’autorisation expresse et préalable de l’AFAUP.</p>

<p>Pour toute demande d’autorisation ou d’information, veuillez nous contacter par email. Des conditions spécifiques sont prévues pour la presse. Par ailleurs, la mise en forme de ce site a nécessité le recours à des sources externes dont nous avons acquis les droits ou dont les droits d’utilisation sont ouverts.</p>
