<mat-card>
  <mat-card-title>Ajouter un lieu</mat-card-title>

<form class="example-form" [formGroup]="form" (ngSubmit)="submit()" *ngIf="form">
  <h3>Information générales:</h3>
  <div fxLayout="row" fxLayoutAlign="space-between">
    <mat-form-field appearance="outline">
      <mat-label>Nom de l'organisation</mat-label>
      <input matInput formControlName="pair:label">
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>{{'homepage' |titlecase}} </mat-label>
      <input matInput formControlName="pair:homepage">
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>{{'Numéro de téléphone' |titlecase}} </mat-label>
      <input matInput formControlName="pair:phone">
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>{{'email' |titlecase}} </mat-label>
      <input matInput formControlName="pair:email">
    </mat-form-field>
  </div>
  <h3>Adresse:</h3>
  <ng-container formGroupName="pair:hasLocation">
    <ng-container formGroupName="pair:hasPostalAddress">
      <div>
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>{{'Numéro et nom de rue' |titlecase}} </mat-label>
          <input matInput formControlName="pair:addressStreet">
        </mat-form-field>
      </div>

      <input type="hidden" formControlName="pair:addressCountry">
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>{{'Code Postal' |titlecase}} </mat-label>
        <input matInput formControlName="pair:addressZipcode">
      </mat-form-field>
    </ng-container>
    <h3>Social Networks:
      <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
        <mat-icon color="primary" (click)="addSocialNetwork()">add_circle_outline</mat-icon>
      </button>
    </h3>
    <ng-container formArrayName="pair:hasDigitalPlace">
      <ng-container class="example-full-width" *ngFor="let o of digitalPlaces.controls; let i = index" [formGroupName]="i">
        <div>
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>{{'social network name' |titlecase}} </mat-label>
          <input matInput formControlName="pair:label">
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>{{'URL' |titlecase}} </mat-label>
          <input matInput formControlName="pair:page">
        </mat-form-field>
        </div>
      </ng-container>
    </ng-container>
  </ng-container>
  <ng-container formArrayName="pair:hasBranch">
    <mat-card>
        <mat-card-title>
          <mat-icon>restaurant</mat-icon>Activités Nouricières:
        </mat-card-title>
        <mat-card-content>
          <div *ngFor="let s of sectors; let i = index">
            <div>
              {{s.label}}
            </div>
            <mat-checkbox [formControlName]="i" (change)="setFormValue($event, b.id, 'branch')" *ngFor="let b of s.extendedBy">{{b.label}}</mat-checkbox>
          </div>
        </mat-card-content>
    </mat-card>
  </ng-container>
  <ng-container formArrayName="pair:hasDomain">
    <mat-card>
        <mat-card-title>
          <mat-icon>home</mat-icon>Type de structure:
        </mat-card-title>
      <mat-card-content>
        <mat-checkbox [value]="d.id" *ngFor="let d of domains" (change)="setFormValue($event, d.id, 'domain')">{{d.label}}</mat-checkbox>
      </mat-card-content>
    </mat-card>
  </ng-container>
  <div>
    <h3 class="mat-label">Description</h3>
    <quill-editor [styles]="{height: '200px'}" formControlName="pair:description"></quill-editor>
  </div>
  <div>
    <h3 class="mat-label">Horaires</h3>
    <quill-editor [styles]="{height: '100px'}" formControlName="100lieux:timetable"></quill-editor>
  </div>
  <div fxFlexFill>
    <h3 class="mat-label">Modalités d'accueil</h3>
    <quill-editor [styles]="{height: '100px'}" formControlName="100lieux:accessRules"></quill-editor>
  </div>
  <br>
  <div>
    <button type="submit" mat-flat-button color="primary">Ajouter un lieu</button>
  </div>
</form>
</mat-card>
