@import 'node_modules/@angular/material/theming';
@import "src/custom-theme";

:host{
  margin-bottom:20px;
  display:block;
}
nav {
  background-color:map-get($centlieux-primary, 900);
  height:140px;
  padding-left:200px;
  > div {
    padding-top: 100px;
    width: 280px;
    color: white;
    text-align:center;
    font-weight:bold;
    font-size: 1.4em;
    text-transform: uppercase;
    //background-color: map-get($centlieux-primary, 100);

    &:hover {
      cursor:pointer;
      border-bottom:4px solid map-get($centlieux-primary, 400);
    }

    img {
      display: block;
    }

    &.activeLink{
      border-bottom: 4px solid map-get($centlieux-primary, 400);
    }
  }

}
.logo {
  width:130px;
  height:160px;
  cursor:pointer;
  left:35px;
  position: absolute;
  background-image: url('/assets/100LN_logo_color_cartouche.png');
  background-size: 70%;
  background-color: white;
  padding: 5px;
  box-shadow: black 0px 0px 8px;
  background-repeat:no-repeat;
  background-position: center;
}

