<mat-card *ngIf="form">
  <mat-card-title>{{editedOrga.id ? 'Editer' : 'Ajouter'}} un lieu</mat-card-title>

<form class="example-form" [formGroup]="form" (ngSubmit)="submitForm()" *ngIf="form" #formElem>
  <h3>Informations générales:</h3>
  <div fxLayout="row" fxLayoutAlign="space-between">
    <mat-form-field appearance="outline">
      <mat-label>Nom de l'organisation *</mat-label>
      <input matInput formControlName="pair:label">
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>{{'Site internet' |titlecase}} </mat-label>
      <input matInput formControlName="pair:homepage">
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>{{'Numéro de téléphone *' |titlecase}} </mat-label>
      <input matInput formControlName="pair:phone">
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>{{'Adresse Email *' |titlecase}} </mat-label>
      <input matInput formControlName="pair:email">
    </mat-form-field>
  </div>
  <!--Ò
<h3>Image</h3>
  <ng-container *ngIf="editedOrga?.documentedBy">
  <img [src]="editedOrga?.documentedBy" alt="logo">
  </ng-container>

<div class="image-upload-container">
  <input type="file" class="file-input"
         (change)="onFileSelected($event)" #fileInput>
  <input type="hidden" formControlName="pair:documentedBy">
  <div class="file-upload">
    {{fileName || "Aucun fichier selectionné."}}
    <button mat-mini-fab color="primary" type="button" class="upload-btn"
            (click)="fileInput.click()">
      <mat-icon>attach_file</mat-icon>
    </button>
  </div>
</div>
-->
  <h3>Adresse:</h3>
  <ng-container formGroupName="pair:hasLocation">
    <ng-container formGroupName="pair:hasPostalAddress">
      <div>
        <mat-form-field class="input-full-width" appearance="outline">
          <mat-label>{{'Numéro et nom de rue *' |titlecase}} </mat-label>
          <input matInput formControlName="pair:addressStreet">
          <mat-error *ngIf="invalidAddress && submitted"></mat-error>
        </mat-form-field>
      </div>
      <input type="hidden" formControlName="pair:addressCountry">
      <mat-form-field class="" appearance="outline">
        <mat-label>{{'Code Postal *' |titlecase}} </mat-label>
        <input matInput formControlName="pair:addressZipcode">
        <mat-error *ngIf="invalidAddress && submitted">Il semblerait qu'il y ait un probleme avec votre adresse.</mat-error>
      </mat-form-field>
      <mat-form-field class="" appearance="outline">
        <mat-label>{{'Ville *' |titlecase}} </mat-label>
        <input matInput formControlName="pair:locality">
        <mat-error *ngIf="invalidAddress && submitted"></mat-error>
      </mat-form-field>
    </ng-container>
    </ng-container>
    <h3>Social Networks:
      <button mat-icon-button type="button">
        <mat-icon color="primary" (click)="addSocialNetwork()">add_circle_outline</mat-icon>
      </button>
    </h3>
    <div *ngIf="socialLink">
    <ng-container formArrayName="100lieux:socialLink">
      <ng-container class="example-full-width" *ngFor="let o of socialLink.controls; let i = index">
        <div>
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>{{'URL reseau social' |titlecase}} </mat-label>
          <input matInput [formControlName]="i">
        </mat-form-field>
        <mat-icon class="cursor" (click)="removeSocialFormItem(i)">clear</mat-icon>
        </div>
      </ng-container>
    </ng-container>
    </div>
  <ng-container formArrayName="pair:hasBranch">
    <mat-card>
        <mat-card-title>
          <mat-icon>restaurant</mat-icon>Activités Nouricières *:
          <mat-error *ngIf="branchesSelected.length === 0 && submitted">Veuillez selectioner au moins une activité</mat-error>
        </mat-card-title>
        <mat-card-content>
          <div *ngFor="let s of sectors">
            <div>
              {{s.label}}
            </div>
            <mat-checkbox [formControlName]="i" (change)="setFormValue($event, b.id, 'branch')" *ngFor="let b of s.extendedBy;let i = index">{{b.label}}</mat-checkbox>
          </div>
        </mat-card-content>
    </mat-card>
  </ng-container>
  <ng-container formArrayName="pair:hasDomain">
    <mat-card>
        <mat-card-title>
          <mat-icon>home</mat-icon>Type de structure *:
          <mat-error *ngIf="domainsSelected.length === 0 && submitted">Veuillez selectioner au moins un domaine</mat-error>
        </mat-card-title>
      <mat-card-content>
        <mat-checkbox *ngFor="let d of domains; let i = index" [formControlName]="i" (change)="setFormValue($event, d.id, 'domain')">{{d.label}}</mat-checkbox>
      </mat-card-content>
    </mat-card>
  </ng-container>
  <div>
    <h3 class="mat-label">Description</h3>
    <quill-editor [styles]="{height: '200px'}" formControlName="pair:description"></quill-editor>
  </div>
  <div>
    <h3 class="mat-label">Horaires</h3>
    <quill-editor [styles]="{height: '100px'}" formControlName="100lieux:timetable"></quill-editor>
  </div>
  <div fxFlexFill>
    <h3 class="mat-label">Modalités d'accueil</h3>
    <quill-editor [styles]="{height: '100px'}" formControlName="100lieux:accessrules"></quill-editor>
  </div>
  <!-- ADDITIONNAL DATAS -->
  <h2>Un peu plus sur vous...</h2>
  <div>
    <div fxLayout="row">
      <div>
        <mat-form-field class="" appearance="outline">
          <mat-label>Nombre de bénéficiaires /  ans</mat-label>
          <input matInput formControlName="100lieux:beneficiaryAmount">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="input-full-width" appearance="outline">
          <mat-label>Nombre d’activités proposées en moyenne / an </mat-label>
          <input matInput formControlName="100lieux:amountActvitiesPerYear">
          <mat-error *ngIf="invalidAddress && submitted"></mat-error>
        </mat-form-field>
      </div>
    </div>
    <div fxLayout="space-between">
      <mat-form-field class="" appearance="outline">
        <mat-label>{{'Nombre de salariés permanents'}} </mat-label>
        <input matInput formControlName="100lieux:permanentEmployees">
      </mat-form-field>
      <mat-form-field class="" appearance="outline">
        <mat-label>{{'Nombre de salariés en insertion'}} </mat-label>
        <input matInput formControlName="100lieux:insertionEmployees">
      </mat-form-field>
      <mat-form-field class="" appearance="outline">
        <mat-label>{{'Nombre de bénéficiaires'}} </mat-label>
        <input matInput formControlName="100lieux:activeBenevole">
      </mat-form-field>
    </div>
    <ng-container formArrayName="100lieux:dispositives">
    <mat-card>
      <h3>
        <mat-icon>assignment</mat-icon>Dispositifs solidaires proposés:
      </h3>
      <mat-card-content>
        <div *ngFor="let s of dispositives; index as i" fxFlex>
          <mat-checkbox [formControlName]="i" >{{s}}</mat-checkbox>
        </div>
      </mat-card-content>
    </mat-card>
  </ng-container>
  <div>
  <ng-container formArrayName="100lieux:activitiesProvided">
    <mat-card>
      <h3>
        <mat-icon>assignment</mat-icon>Type d'activités proposées :
      </h3>
      <mat-card-content>
        <div *ngFor="let s of activitiesProvided; index as i" fxFlex>
          <mat-checkbox [formControlName]="i" >{{s}}</mat-checkbox>
        </div>
      </mat-card-content>
    </mat-card>
  </ng-container>
  </div>

    <div>
      <ng-container formArrayName="100lieux:worksWith">
        <mat-card>
          <h3>
            <mat-icon>assignment</mat-icon>Structures avec lesquelles vous travaillez:
          </h3>
          <mat-card-content>
            <div *ngFor="let s of worksWith; index as i" fxFlex>
              <mat-checkbox [formControlName]="i"  >{{s}}</mat-checkbox>
            </div>
          </mat-card-content>
        </mat-card>
      </ng-container>
    </div>
  </div>
  <br>
  <div>
    <button type="submit" mat-flat-button color="primary">{{editedOrga.id ? 'Editer' : 'Ajouter'}} un lieu</button>
  </div>
</form>
</mat-card>
