mat-form-field {
  width:280px;
}
.full-width{
  width:100%;
}
mat-checkbox{
  margin-right:20px;
}
h4{
  margin-bottom: 0; padding-bottom:0;
}
.mat-card{
  margin-bottom: 5px;
}
.file-input {
  display: none;
}
.image-upload-container{
  height: 70px;
}
