<h2>Partenaires</h2>
<div fxLayout="row" (click)="openLink('https://www.lespetitsdebrouillards.org/')">
  <div class="img">
    <img src="assets/partenaires/pd.png" alt="Les petits débrouillards">
  </div>
  <div>
    <h2>Les petits débrouillards</h2>
    <h4>Qui êtes-vous ?</h4>
    <p>
      En plus de 30 ans d’existence, les Petits Débrouillards ont déjà sensibilisé plus de 10 millions de nos jeunes concitoyens aux joies et aux plaisirs des méthodes scientifiques expérimentales et d’investigations pour comprendre le monde et agir dessus. Le mouvement associatif des Petits Débrouillards, présent dans 12 régions, participe du renouveau permanent de l’éducation populaire. Par une éducation aux démarches scientifiques, expérimentales et raisonnées, il contribue à développer l’esprit critique, et à élargir les capacités d’initiatives de chacune et chacun. Notre devise : faire pour comprendre, comprendre pour agir.
    </p>

    <h4>Pourquoi êtes-vous partenaire du projet les 100 Lieux Nourriciers ?</h4>
    <p>
      La question de l’éducation pour toutes et tous, pour les enfants et les jeunes qui vivent dans des environnements précaires et insécurisants, qui mettent à mal leurs droits les plus fondamentaux et leur chance de réussite, est centrale et cruciale pour les Petits Débrouillards.<br>
      Apprendre à problématiser et à se questionner est essentiel. Ceci réclame un apprentissage tout au long de la vie. Ce chemin est pour les Petits Débrouillards une condition requise pour des transformations sociales pacifiques et pertinentes, pour nous comme pour les générations futures.
    </p>
  </div>
</div>
<div fxLayout="row" (click)="openLink('http://www.virtual-assembly.org/')">
  <div class="img">
  <img src="assets/partenaires/av.png" alt="Assemblée virtuelle">
</div>
  <div>
    <h2>L'assemblée virtuelle</h2>
    <h4>Qui êtes-vous ?</h4>
    <p>
      L’Assemblée Virtuelle est un écosystème d’acteurs développant de manière collaborative des communs (outils, méthodologies et projets) au service des acteurs de la transition.
    Elle a été créée en 2011 et compte une quarantaine de contributeurs actifs impliqués sur une vingtaine de projets.
    Son objectif est de favoriser la mise en réseau des acteurs grâce à la mise en synergie de leurs systèmes d’information.
    </p>
    <h4>Pourquoi êtes-vous partenaire du projet les 100 Lieux Nourriciers ?</h4>
    <p>
      Le projet des 100 lieux nourriciers est en complète cohérence avec la raison d'être de l'Assemblée Virtuelle, favoriser la mise en réseau des acteurs des transitions par les systèmes d'information. La cartographie des lieux, le partage des ressources est un prétexte incroyable pour créer du lien, créer des synergies et des coopérations. L'utilisation des communs numériques développées par l'association soutient cette dynamique.
    </p>
  </div>
</div>
<div fxLayout="row">
  <div class="img">
  <img src="assets/partenaires/at.png" alt="Agro paris tech"  (click)="openLink('http://www.agroparistech.fr/')">
  <img src="assets/partenaires/logo_AU.png" alt="Agro paris tech"  (click)="openLink('http://www.agroparistech.fr/')">
</div>
  <div>
    <h2>Agro Paris Tech</h2>
    <h4>Qui êtes-vous ?</h4>
    <p>Face à l’explosion en cours des formes d’agricultures urbaines, de leur multifonctionnalité réelle ou attendue, la Chaire Agriculture Urbaine de la fondation Agro Paris Tech a pour objectifs de produire les connaissances, les compétences et les outils permettant de trier et promouvoir les formes d’agriculture urbaine judicieuses à soutenir (alimentation, environnement, économie, social, etc.). Elle s’attache à favoriser la reconnaissance institutionnelle de l’AU par les mondes agricoles et urbains, à développer les de nouvelles connaissances et de former de nouveaux acteurs.</p>

    <h4>Pourquoi êtes-vous partenaire du projet les 100 Lieux Nourriciers ?</h4>
    <p>Nous sommes partenaires de ce projet car faciliter l'accès aux produits frais à des populations en difficultés est un des objectifs spécifiques de la Chaire. Au travers du réseau "Agricultures urbaines et précarités alimentaires" que nous animons depuis 2018 nous sommes convaincus qu'en se rencontrant et échangeant entre acteurs d'horizons variés nous pouvons, à notre échelle, faire bouger les lignes. Ce projet ambitieux et original, par la complémentarité des actions proposées, nous a attiré et nous avons souhaité en faire partie pour apporter notre expertise et favoriser les connexions entre les acteurs de notre réseau et l'équipe projet.</p>

  </div>
</div>
<div fxLayout="row">
  <div class="img">
  <img src="assets/partenaires/cnlqr.jpg" alt="Si t'es jardin" (click)="openLink('https://www.regiedequartier.org/chantiers/si-tes-jardin/')">
  <img src="assets/partenaires/sitj.jpg" alt="Si t'es jardin" (click)="openLink('https://www.regiedequartier.org/chantiers/si-tes-jardin/')">
</div>
  <div>
    <h2>Si t'es jardin</h2>
    <h4>Qui êtes-vous ?</h4>
    <p>Portés par l’intérêt pour une alimentation saine et une plus grande proximité avec la nature, de nombreuses Régies de Quartier ou de Territoire développent des jardins solidaires, avec et pour les habitants des quartiers. Le projet national porté par l’association Si T’es Jardin, initiée par le CNLRQ, vise à soutenir et encourager ces initiatives : jardins collectifs, des micro-fermes urbaines, du maraîchage d’insertion et de l’éco-pâturage que des restaurants et épiceries solidaires ou des composteurs de quartier.</p>

    <h4>Pourquoi êtes-vous partenaire du projet les 100 Lieux Nourriciers ?</h4>
    <p>Le CNRQ via Si T'es Jardin est partenaire des « 100 lieux nourriciers » pour tisser des liens au plus près des territoires et donner à voir des initiatives inspirantes portées par des acteurs de terrain. Nous sommes en effet convaincus qu’il n’y a rien de tel que les retours d’expérience en matière d’agriculture de proximité et d’alimentation des populations précaires et que ces lieux pilotes sont de vrais leviers pour avancer vers des solutions concrètes de la fourche à la fourchette. C’est également l’occasion de contribuer à un projet d’envergure, au plus près des valeurs des Régies et de Si T'es Jardin, et de renforcer la portée nationale de ces sujets aux côtés de partenaires aux compétences complémentaires</p>

  </div>
</div>
<div fxLayout="row">
  <div class="img">
  <img src="assets/partenaires/emmaus.png" alt="Emmaeus" (click)="openLink('https://emmaus-france.org/')">
</div>
  <div>
    <h2>Emmaüs</h2>
    <h4>Qui êtes-vous ?  </h4>
    <p>Les structures Emmaüs développent des projets très diversifiés et des solutions originales qui contribuent à lutter contre l’exclusion et à redonner dignité et autonomie aux personnes en situation de précarité. Elles mènent de plus en plus des projets agricoles qui s’avèrent être un formidable levier d’insertion et d’autonomie pour les personnes en situation de précarité accueillies au sein des structures Emmaüs.

    <h4> Pourquoi êtes-vous partenaire du projet les 100 Lieux Nourriciers ?  </h4>
    <p>Emmaüs France a rejoint le projet 100 Lieux Nourriciers car l’accès à une alimentation durable pour tous est une question de justice sociale et de santé publique, qui s’inscrit dans les combats historiques d’Emmaüs de la lutte contre l’exclusion. Aussi, le projet 100 Lieux Nourriciers est d’intérêt pour Emmaüs car :<br>
    Il promeut des projets doublement solidaire, avec les personnes en difficulté et avec les agriculteurs <br>
    Il fait découvrir au plus grand nombre les moyens d’agir en faveur d’une alimentation durable accessible à tous <br>
      Il démultiplie l’impact de ces projets, en donnant des clefs pour les futurs porteurs d’initiatives similaires et participe ainsi à la création de nouveaux modèles alimentaires territoriaux</p>
  </div>
</div>
<div fxLayout="row">
  <div class="img">
  <img src="assets/partenaires/afaup.png" alt="AFAUP" (click)="openLink('https://www.afaup.org/')">
</div>
  <div>
    <h2>L'AFAUP</h2>
    <h4>Qui êtes-vous ?</h4>
    <p>L’AFAUP, l’Association Française de l’Agriculture Urbaine Professionnelle est la tête de réseau de l’agriculture urbaine en France. L'association a pour mission de fédérer les professionnels qui conçoivent, gèrent et installent les multiples formes d’agriculture en milieu urbain, de communiquer et promouvoir la diversité de l'agriculture urbaine auprès des pouvoirs publics, des collectivités, des maîtres d’œuvre et du grand public et d'accompagner le développement du secteur en fournissant des outils et en apportant des réponses aux enjeux légaux et administratifs.</p>

    <h4>Pourquoi êtes-vous partenaire du projet les 100 Lieux Nourriciers ?</h4>
    <p>L’AFAUP a décidé de porter le projet des 100 Lieux Nourriciers  car elle constate d’une part que les villes souffrent d’un manque de nature et cherchent à relocaliser l’approvisionnement alimentaire pour des raisons économiques, sociales et environnementales. D’autre part, l’AFAUP ne peut se résoudre à l’idée que l’accès à une alimentation saine et locale, ce n’est pas pour tout le monde.
      <br>
    Des solutions existent pour améliorer la résilience alimentaire de nos villes et de nos campagnes, notamment pour les publics les plus vulnérables: des lieux nourriciers. Il nous est apparu judicieux de nous intéresser à leurs diverses formes (tiers-lieux, régies, potagers, agriculture urbaine, etc.) afin de faciliter leur essor</p>
  </div>
</div>
