@import 'node_modules/@angular/material/theming';
@import "src/custom-theme";

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.example-headers-align .mat-form-field + .mat-form-field {
  margin-left: 8px;
}
h3{

  margin-left: 30px;
  color: map-get($centlieux-primary, 300);
}
