<section class="video">
  <section class="title">
  <div>
    <em>"Les 100 lieux nourriciers"</em> facilitent l'accès à une alimentation saine et locale pour tous, même les plus démunis d'entre nous
  </div>
</section>
  <iframe width="1205" height="600" sandbox="allow-same-origin allow-scripts allow-popups" src="https://peertube.virtual-assembly.org/videos/embed/2b612c08-52c0-4038-a7f0-70f5815f4b7f" frameborder="0" allowfullscreen></iframe>
<section class="main-links" fxLayout="row" fxLayoutAlign="center" fxLayoutGap="40px">
  <div routerLink="/map"><mat-icon>place</mat-icon><br>Cartographie</div>
  <div routerLink="/tools"><mat-icon>home_repair_service</mat-icon><br>Outils pédagogique</div>
</section>
<section class="numbers">
  <h2>Quelques chiffres</h2>
  <ul>
  <li>
    <strong>2,1 millions de français</strong> bénéficient de l’aide alimentaire en 2021
  </li>
  <li>Dans le monde, 1 décès sur 5 est dû, directement ou indirectement, à une mauvaise alimentation (malnutrition, sous-nutrition)</li>
  <li>
    <strong>8 millions de personnes en France </strong>se déclarent encore en insécurité alimentaire pour des raisons financières.
  </li>
  </ul>
</section>
<section class="desc">
  <p>
    Aujourd’hui, force est de constater que beaucoup n’ont pas accès à une alimentation saine et locale.<br>
    Pour améliorer la situation de nombreux projets émergent et apportent des réponses concrètes aux inégalités dans l’assiette : on les appelle <strong>les lieux nourriciers !</strong><br>
    Ces lieux prennent des formes diverses. On y retrouve des jardins partagés, des micro-fermes, des ateliers de transformation en insertion, des épicerie solidaires, des supermarchés coopératifs, des fermes urbaines, des restaurants.<br>
  </p>
</section>
<section class="concl">
  <h2>Les 100 Lieux Nourriciers lance leur tournée !</h2>
  <p>10 étapes pour aller à la rencontre de ceux qui quotidiennement trouvent des réponses concrètes pour chacun ait accès à une alimentation saine et durable.</p>
  <ul>
    <li>  22 août à Achères (78) sur la ferme urbaine d’Intégraterre</li>
      <li>14/15 septembre à Vierzon (18) à la Régie de quartier de Vierzon</li>
      <li>17/18 septembre à Marseille (13) sur les sites de l’Après-M et de la Ferme Capri</li>
      <li>20 septembre à Toulouse (31) sur le site d’EDENN</li>
      <li>22 septembre à Lyon (69) à La Halle des Girondins</li>
      <li>24 / 25 septembre à Nantes (44) à L’Agronaute</li>
      <li>28 septembre à Loos-en-Gohelle (62) sur le site des Archipels Nourriciers</li>
      <li>01 octobre à Strasbourg (67) aux Jardins de la Montagne Verte</li>
      <li>06 octobre à Billom (63) à la Régie de Territoire des 2 Rives</li>
      <li>08/09 octobre à Angers (49) sur le site de Graines d’Emmaüs</li>
  </ul>
  <p>Au programme : visites de lieux inspirants, ateliers pratiques et ludiques, débats, spectacles, dégustation, repas partagé, cours de cuisine et une exposition itinérante pour déconstruire les idées reçues en matière d'alimentation. </p>
  <p>Vous êtes tous invités à nous rejoindre pour construire une alimentation plus saine, plus durable et plus solidaire !</p>
  <p>Plus d’infos à venir sur les programmes de chaque étape.</p>
</section>
