<section class="video">
  <iframe width="1205" height="600" sandbox="allow-same-origin allow-scripts allow-popups" src="https://peertube.virtual-assembly.org/videos/embed/2b612c08-52c0-4038-a7f0-70f5815f4b7f" frameborder="0" allowfullscreen></iframe>
  <section class="title">
  <div>
    <em>"Les 100 lieux nourriciers"</em> facilitent l'accès à une alimentation saine et locale pour tous, même les plus démunis d'entre nous
  </div>
</section>
<section class="main-links" fxLayout="row" fxLayoutAlign="space-around">
  <div><mat-icon>preview</mat-icon><br>Exposition</div>
  <div routerLink="/map"><mat-icon>place</mat-icon><br>Cartographie</div>
  <div><mat-icon>home_repair_service</mat-icon><br>Outils pédagogique</div>
</section>
<section class="numbers">
  <h2>Quelques chiffres</h2>
  <ul>
  <li>
    <strong>2,1 millions de français</strong> bénéficient de l’aide alimentaire en 2021
  </li>
  <li>L’alimentation est responsable d’1/5 des décès dans le monde</li>
  <li>
    <strong>8 millions de personnes en France </strong>se déclarent encore en insécurité alimentaire pour des raisons financières.
  </li>
  </ul>
</section>
<section class="desc">
  <p>
    Aujourd’hui, force est de constater que beaucoup n’ont pas accès à une alimentation saine et locale.<br>
    Pour lutter contre ce constat, de nombreux projets émergent et apportent des réponses concrètes aux inégalités dans l’assiette : <strong>on les appelle les lieux nourriciers !</strong><br>
    Ces lieux prennent des formes diverses. On y retrouve des jardins partagés, des micro-fermes, des ateliers de transformation en insertion, des épicerie solidaires, des supermarchés coopératifs, des fermes urbaines, des restaurants.<br>
  </p>
</section>
<section class="concl">
  <h5>
    Le projet des 100 lieux nourriciers a pour but d’accroitre le rayonnement et l’impact de ces lieux et d’encourager leur essaimage.
  </h5>
</section>
