<section class="title">
  <h1>LES 100 LIEUX NOURRICIERS</h1>
  <h3>Pour une allimentation saine, durable ET solidaire</h3>
</section>
<section class="video">
  <iframe width="1205" height="600" sandbox="allow-same-origin allow-scripts allow-popups" src="https://peertube.virtual-assembly.org/videos/embed/2b612c08-52c0-4038-a7f0-70f5815f4b7f" frameborder="0" allowfullscreen></iframe>
</section>
<section class="numbers">
  <h2>Aujourd’hui, force est de constater que beaucoup n’ont pas accès à une alimentation saine et locale.</h2>
  <ul>
  <li>
    <div><strong><span class="big">2,1 <br></span> millions de français</strong> bénéficient de l’aide alimentaire en 2021</div>
  </li>
    <li>
      <div>Dans le monde, <span class="big"><br>1 décès sur 5 <br></span> est dû, directement ou indirectement, à une <strong>mauvaise alimentation</strong> (malnutrition, sous-nutrition)</div></li>
  <li>
    <div><strong><span class="big">8 millions </span>de personnes en France </strong>se déclarent encore en <strong>insécurité alimentaire</strong> pour des raisons financières.</div>
  </li>
  </ul>
  <p>
    Pour améliorer la situation de nombreux projets émergent et apportent des réponses concrètes aux inégalités dans l’assiette : on les appelle <strong>les lieux nourriciers !</strong><br><br>
    Ces lieux prennent des formes diverses. On y retrouve des jardins partagés, des micro-fermes, des ateliers de transformation en insertion, des épicerie solidaires, des supermarchés coopératifs, des fermes urbaines, des restaurants.<br>
  </p>
</section>
<section class="concl" fxLayout="space-between">
  <mat-card>
    <div>
      <p>Les 100 Lieux Nourriciers lance leur tournée !</p>
      <p>10 étapes pour aller à la rencontre de ceux qui quotidiennement trouvent des réponses concrètes pour chacun ait accès à une alimentation saine et durable.</p>
    </div>
    <div class="bold">
      Au programme : visites de lieux inspirants, ateliers pratiques et ludiques, débats, spectacles, dégustation, repas partagé, cours de cuisine et une exposition itinérante pour déconstruire les idées reçues en matière d'alimentation.
    </div>
    <div>
      <p>Vous êtes tous invités à nous rejoindre pour construire une alimentation plus saine, plus durable et plus solidaire !
        Plus d’infos à venir sur les programmes de chaque étape.</p>
    </div>
  </mat-card>
  <img src="assets/map100_v2.png" alt="Carte des 100 lieux nourriciers">
</section>
<section class="buttons" fxLayout="row" fxLayoutAlign="center" fxLayoutGap="15px">
  <div [routerLink]="['/map']">Voir la cartographie des 100 Lieux Nourriciers</div>
  <div [routerLink]="['/tools']">Accéder aux outils pédagogiques</div>
</section>


