<img src="https://fakeimg.pl/100x80/?retina=1&text=Une image là&">
<h3>{{organization.label}}</h3>
<mat-chip-list class="mat-chip-list-stacked" aria-label="Color selection">
  <mat-chip *ngFor="let chip of organization.hasBranch" selected color="primary">
    {{chip.label}}
  </mat-chip>
</mat-chip-list>
<mat-chip-list class="mat-chip-list-stacked" aria-label="Color selection">
  <mat-chip *ngFor="let chip of organization.hasDomain" selected color="secondary">
    {{chip.label}}
  </mat-chip>
</mat-chip-list>
