<div>
  <img [src]="organization?.documentedBy ? organization?.documentedBy : 'assets/100lieux_tiny_square_logo.png'" alt="logo">
</div>
<h3>{{organization.label}}</h3>
<p>
  {{organization.hasLocation.hasPostalAddress.fullAddress}}
</p>
<mat-chip-list aria-label="Color selection">
  <mat-chip *ngFor="let chip of organization.hasBranch" selected color="primary">
    {{chip.label}}
  </mat-chip>
</mat-chip-list>
<mat-chip-list aria-label="Color selection">
    <mat-chip *ngFor="let chip of organization.hasDomain" selected color="accent">
    {{chip.label}}
  </mat-chip>
</mat-chip-list>
<a [routerLink]="['/map/', utils.extractUrlHash(organization.id)]">Plus d'infos</a>
