/* You can add global styles to this file, and also import other style files */
@import "../node_modules/leaflet/dist/leaflet.css";
@import "../node_modules/leaflet-geosearch/dist/geosearch.css";
@import "../node_modules/leaflet.markercluster/dist/MarkerCluster.css";
@import "../node_modules/leaflet.markercluster/dist/MarkerCluster.Default.css";
@import '~quill/dist/quill.core.css';
@import '~quill/dist/quill.bubble.css';
@import '~quill/dist/quill.snow.css';

html, body {  }
html{
  background-size:contain;
  background-repeat: no-repeat;
  background-color: #e7f3f2;
  font-size: 16px;
  background-position: bottom;
  margin-top:25px;}
body { margin: 0;  font-family: 'Futura-pt-book';
  width:1280px; margin: 0 auto;margin-bottom:150px; background-color: #fff}
img.small {
  height:160px;
}
.cursor{
  cursor:pointer;
}
.cdk-overlay-backdrop.cdk-overlay-backdrop-showing.dark-backdrop {
  background: rgb(0, 0, 0);
  opacity: 0.75 !important;
}
.input-full-width{
  width:100%;
  min-width: 98.5%;
}
.underline{
  text-decoration: underline;
}
.small-chip {
  height: 10px !important;
}
