<div class="new" *ngIf="organization">
  <div fxLayout="row" fxLayoutAlign="space-between" >
        <div>
          <h1>{{organization.label}}</h1>
        </div>
        <div fxLayout="row" fxLayoutAlign="end center">
          <ng-container *ngIf="callForRemove">
            Votre demande à été prise en compte, elle doit être validé par un modérateur.
          </ng-container>
          <ng-container *ngIf="!callForRemove">
            <button mat-flat-button (click)="deleteOrga()">Remove</button>
          </ng-container>
          <button mat-flat-button [routerLink]="['/map/edit', dataprovider.extractUrlHash(organization.id)]" >Edit</button>
        </div>
  </div>
    <mat-card-content fxLayout="row" fxLayoutGap="40px">
      <div fxFlex="70%">
        <mat-chip-list fxLayout="row">
          <mat-chip *ngFor="let chip of organization.hasBranch" selected color="primary">
           {{chip.label}}
          </mat-chip>
          <mat-chip *ngFor="let chip of organization.hasDomain" selected color="accent">{{chip.label}}</mat-chip>
        </mat-chip-list>
        <br>
        <div *ngIf="organization?.documentedBy"><img class="orga-pic" [src]="organization.documentedBy" [alt]="'image '+organization.label"></div>
        <h3>Description</h3>
          <div [innerHTML]="organization.description"></div>
      </div>
      <div fxFlex="30%" class="access">
        <div>
          <h3>Conditions d'accés</h3>
          <div [innerHTML]="organization.accessrules"></div>
        </div>
        <div>
          <h3>Horaires</h3>
          <div [innerHTML]="organization.timetable"></div>
        </div>
        <div>
          <h3>Contact</h3>
          <ul>
            <li>Email: {{organization.email}}</li>
            <li>Site: {{organization.homepage}}</li>
            <li>Tel: {{organization.phone}}</li>
            <ng-container *ngFor="let dp of organization.socialLink" >
              <li *ngIf="dp">{{dp}}</li>
            </ng-container>
          </ul>
        </div>
        <div>
          <h3>Adresse</h3>
          <div>{{organization?.hasLocation?.hasPostalAddress?.addressStreet}},{{organization?.hasLocation?.hasPostalAddress?.addressZipcode}}, {{organization?.hasLocation?.hasPostalAddress?.locality}}</div>
        </div>
      </div>
    </mat-card-content>
</div>
