.orga-pic{
  max-height: 300px;
  text-align:center;
}
mat-card-actions {
  padding-bottom:0; margin-bottom: 0;
}
.access{
  background-color:#EEE;
  padding-left:10px;
}
:host{
  margin: 0 40px;
  display: block;
}
