@import '~@angular/material/theming';
@import "src/custom-theme";


:host{
  flex:22%;
}
h3{
  color: map-get($centlieux-primary, 900);
  margin-bottom:2px;
  .mat-icon{
    color: map-get($centlieux-primary, 900);
    position:relative;
    top:3px;
    padding-right:10px;
  }
}
form > ul {
  list-style: none;
  margin:0;
  padding:0;
  h4{
    padding:12px 0 0 8px;
    margin-bottom:4px;
    margin-top:2px;
    height:30px;
    border-bottom:2px solid map-get($centlieux-primary, 400);
  }
  &.domains{
    li{
      padding-left:14px;
      padding-top:2px;
    }
  }

  li{
    margin:0;
    font-size: 16px;
    ul{
      padding-left:14px;
      li{
        height:30px;
        display: block;
        margin-left:4px;
      }
    }
  }
}
.fullsize {
  width:100%;
}
