@import '~@angular/material/theming';
@import "src/custom-theme";


:host{
  flex:22%;
}
h3{
  color: map-get($centlieux-primary, 400);
}
form > ul {
  list-style: none;
  margin:0;
  padding:0;
  h4{
    padding:12px 0 0 8px;
    margin-bottom:4px;
    height:40px;
    background-color: map-get($centlieux-primary, 100);
  }

  li{
    margin:0;
    font-size: 16px;
    ul{
      padding-left:14px;
      li{
        height:30px;
        display: block;
        margin-left:4px;
      }
    }
  }
}
