<body>
  <a href="https://100lieuxnourriciers.fr/">
    <img src="http://100lieuxnourriciers.fr/assets/100LN_logo_color_cartouche.png" alt="Classe dehors" style="max-width: 300px">
  </a>
  <p>
    <em>Le message suivant a été envoyé depuis votre profil <a href="https://classe-dehors.org">classe-dehors.org</a> par {{name}} ({{email}})</em>
  </p>
  <p>
    {{{contentWithBr}}}
  </p>
</body>
