<h1>Lieux Nourriciers</h1>
<div *ngIf="orgafiltered.size === 0">Il n'y a aucun résultat</div>
<mat-paginator *ngIf="orgafiltered.size !== 0"
               (page)="handlePageEvent($event)"
               [length]="length"
               [pageSize]="pageSize"
               [showFirstLastButtons]="showFirstLastButtons"
               [pageSizeOptions]="[pageSize]"
               [pageIndex]="pageIndex">
</mat-paginator>
<div *ngFor="let o of orgafiltered" class="content" [routerLink]="['/map',this.dataProvider.extractUrlHash(o.id)]">
  <div fxLayout="row" fxLayoutGap="20px" >
    <div fxFlex="20%" class="center">
      <img [src]="o?.documentedBy ? o?.documentedBy : 'assets/100lieux_tiny_square_logo.png'" alt="logo">
    </div>
    <div>
    <div>
      <h2>{{o.label}}</h2>
    </div>
    <mat-chip-list aria-label="Color selection">
      <mat-chip disableRipple *ngFor="let chip of o.hasBranch" selected color="primary">
        {{chip.label}}
      </mat-chip>
      <mat-chip disableRipple *ngFor="let chip of o.hasDomain" selected color="accent">
        {{chip.label}}
      </mat-chip>
    </mat-chip-list>
      <div class="desc" [innerHTML]="o.description | nocarriage | slice:0:390"></div>
  </div>
  </div>
</div>
<mat-paginator *ngIf="orgafiltered.size !== 0"
               (page)="handlePageEvent($event)"
               [length]="length"
               [pageSize]="pageSize"
               [showFirstLastButtons]="showFirstLastButtons"
               [pageSizeOptions]="[pageSize]"
               [pageIndex]="pageIndex">
</mat-paginator>



